{% extends 'warcarftApp/navBar.html' %}

{% block content %}

    <div class="card mb-3" style="border-radius: 0px;">
      <img src="/static/img/aboutPageImg.jpg" class="card-img-top" alt="..." height="400px" style="border-radius: 0px;">
      <div class="card-body" style="background-color: #D8D9DA">
        <h5 class="card-title">Вселенная Warcraft</h5>
        <p class="card-text">Вселенная Warcraft — вселенная, изначально придуманная для компьютерных игр из серии Warcraft</p>
        <p class="card-text"><small class="text-body-secondary">с англ. Военное ремесло</small></p>
      </div>
    </div>
    <div class="card text-center" style="margin-top: -20px; border-radius: 0px;">
      <div class="card-header" style="border-radius: 0px; background-color: #ADC4CE">
        История игры Warcraft
      </div>
      <div class="card-body" style="background-color: #D8D9DA">
        <h5 class="card-title">Игра сделанна на движке World of Warcraft студентом Мартином Фалком</h5>
        <p class="card-text">Вселенная выдержана в стиле фэнтези с примесью стимпанка, европейской культуры и некоторых элементов восточной культуры. Описывает мир Азерот, включающий в себя Восточные королевства, Калимдор, Нордскол, Пандарию, Расколотые острова, Зандалар, Кул-Тирас и Драконьи острова; а также миры Аргус и Дренор. История вселенной Warcraft описывает в основном противостояние между Альянсом и Ордой и их борьбу с Пылающим Легионом, Плетью, драконом Смертокрылом, Древними богами и другими силами, угрожающими Азероту. </p>
      </div>
      <div class="card-footer text-body-secondary" style="border-radius: 0px; background-color: #ADC4CE">
        Игры раздлены по категориям
      </div>
    </div>
<div class="row row-cols-1 row-cols-md-2 g-4" style="margin: 10px;">
  <div class="col">
    <div class="card" style="background-color: #F1F0E8">
      <img src="/static/img/WarcraftOrcsandHumans.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Warcraft: Orcs and Humans</h5>
        <p class="card-text">Warcraft: Orcs and Humans — стратегия в реальном времени, выпущенная компанией Blizzard Entertainment в 1994 году для DOS, а позже для Mac OS[7]. События, воспроизведённые в игре, относятся к Первой Великой войне </p>
      </div>
    </div>
  </div>
  <div class="col" >
      <div class="card"  style="background-color: #F1F0E8">
        <img src="/static/img/Warcraft2.jpg" class="card-img-top" alt="...">
        <div class="card-body" >
          <h5 class="card-title">Warcraft 2</h5>
          <p class="card-text">Warcraft Adventures: Lord of the Clans Основная статья: Warcraft Adventures: Lord of the Clans Приключенческая игра во вселенной Warcraft, отменённая как не соответствующая «высокому стандарту качества игр от Blizzard». </p>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}